*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
    /* background-color: rgb(255, 255, 108); */
    /* background-color: rgb(93, 231, 255); */
    background-color: rgb(104, 255, 104);
    /* background-color: rgb(255, 89, 89); */
    /* background-color: rgb(255, 111, 236); */
    /* background-color: rgb(120, 237, 255); */
}



























